.contentContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 680px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: center;
  align-items: center;
}

.textContainer h1 {
  font-size: 46px;
  line-height: 60px;
  word-spacing: 4px;
}

.textContainer p {
  line-height: 32px;
  font-size: 20px;
}

.row-reverse {
  flex-direction: row-reverse;
}
