.footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 60px;
  grid-row-gap: 0;
}

@media only screen and (max-width: 1200px) {
  /*Tablets [601px -> 1200px]*/
  .footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 0;
  }
}
@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/
  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 0;
  }
}
@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/
}
footer {
  background-color: #23272a;
  color: white;
  padding: 40px;
}

.border {
  border-bottom: 2px solid #404eed;
}

.footer-container {
  max-width: 1080px;
}

li {
  list-style: none;
}
